@media all and (orientation: landscape) {



  * {
    font-family: "MainFont";
  }

  #header {
    width: 100%;
    height: 60px;
  }

  #orders {
    position: absolute;
    top: 110px;
    left: 50px;
    height: calc(100% - 160px);
    width: calc(100% - 100vh + 10px);
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
  }

  .order p {
    font-size: 28px;
    cursor: pointer;
    width: 100%;
    background-color: #00A388;
    transition: all 0.2s ease-in-out;
  }

  .order p:hover {
    background-color: #FF6138;
    color: #fff;
  }

  .dish {
    padding-left: 25px;
    height: 0px;
    transition: all 0.15s ease-in-out;
    font-size: 22px;
    overflow: hidden;
    background-color: #fff;
  }

  .dish_last {
    border-bottom: 1px solid black;
    color: #00A388;
    cursor: pointer;
  }

  .dish_last:hover {
    color: red;
  }

  .dish_active {
    height: 27px;
  }

  #map {
    position: absolute;
    top: 110px;
    right: 50px;
    height: calc(100% - 160px);
    width: calc(100vh - 160px);
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-image: url("/../../assets/map.jpg");
    background-size: cover;
  }

  .line {
    width: 100%;
    height: 6.25%;
  }

  .button_map {
    width: 6.25%;
    height: 100%;
    float: left;
  }

  .button_map_active {
    background-color: rgba(256, 0, 0, 0.8);
  }



}
