@media all and (orientation: landscape) {

  .dish {
    width: 20%;
    float: left;
    padding-bottom: calc(18% + 65px);
  }

  .main_block {
    position: absolute;
    width: 18%;
    margin: 0px 1% 0px 1%;
    height: auto;
    z-index: 1;
    border-bottom: 2px solid #ddd;
    background-color: #f9f9e8;
    transition: box-shadow 0.1s ease;
    cursor: pointer;
    border-radius: 20px 20px 2px 2px;
  }

  .main_block_active {
    z-index: 2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }

  #header {
    width: 100%;
    padding-bottom: calc(1% + 60px);
  }

  .dish_img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 85%;
    border-radius: 20px 20px 0px 0px
  }

  .dish_title {
    font-size: 30px;
    text-align: center;
  }

  .dish_price {
    font-size: 25px;
    text-align: center;
    color: green;
  }

  .recipe {
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: center;
    overflow: hidden;
    height: 0px;
    transition: all 0.1s ease;
  }

  .recipe_active {
    height: 20px;
  }

}
