<div id="header"></div>
<div id="menu">
  <div class="dish" *ngFor="let dish of dishes; let id = index">
    <div class="main_block" id="main_block_{{id}}" (mouseenter)="showInfo(id)" (mouseleave)="closeInfo(id)">
      <div class="dish_img" [ngStyle]="{'background-image': 'url(http://localhost:8080/assets/' + dish.image + '.jpg)'}"></div>
      <p class="dish_title">{{dish.title}}</p>
      <p class="description" id="description_{{id}}">{{dish.description}}</p>
      <p class="recipe" *ngFor="let product of dish.recipe; let productId = index" id="recipe_{{id}}_{{productId}}">
        &#9679; {{product.name}}: {{product.value}} kg<br>
      </p>
      <p class="dish_price" id="dish_price_{{id}}">{{dish.price}}$</p>
      <div class="dish_add" id="dish_add_{{id}}" (click)="addOne(dish.title, dish.price)" *ngIf="user.loggedIn">Добавить</div>
    </div>
  </div>
  <div id="loadButton">
    <button id="enableLoad" (click)="loadMenu()">Загрузить больше</button>
    <div id="disableLoad">Больше нечего загружать</div>
  </div>
</div>
<app-basket></app-basket>
