@media all and (orientation: landscape) {

  .dish {
    width: 20%;
    float: left;
    padding-bottom: calc(18% + 65px);
  }

  .main_block {
    position: absolute;
    width: calc(18% - 2px);
    margin-left: calc(1% - 1px);
    margin-right: calc(1% - 1px);
    border-radius: 2px;
    height: auto;
    z-index: 1;
    background-color: white;
    border: 1px solid #ddd;
  }

  .main_block_active {
    z-index: 2;
  }

  #header {
    width: 100%;
    padding-bottom: calc(1% + 60px);
  }

  .dish_img {
    background-size: cover;
    background-position: center center;
    width: 95%;
    padding-top: 80%;
    margin: 2.5%;
  }

  .dish_title {
    font-size: 30px;
    text-align: center;
  }

  .dish_price {
    font-size: 25px;
    text-align: center;
    color: green;
  }

  .recipe {
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: center;
    overflow: hidden;
    height: 0px;
    transition: all 0.1s ease;
  }

  .recipe_active {
    height: 20px;
  }

}
