@media all and (orientation: landscape) {

  * {
    font-family: "MainFont";
  }

  .dish {
    width: 20%;
    float: left;
    padding-bottom: calc(18% + 65px);
  }

  .main_block {
    position: absolute;
    width: 18%;
    margin: 0px 1% 0px 1%;
    height: auto;
    z-index: 1;
    border-bottom: 2px solid #ddd;
    background-color: #f9f9e8;
    transition: box-shadow 0.1s ease;
    cursor: pointer;
    border-radius: 7px 7px 2px 2px;
  }

  .main_block_active {
    border-color: #009368;
    z-index: 2;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  }

  #header {
    width: 100%;
    padding-bottom: calc(1% + 60px);
  }

  .dish_img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-top: 85%;
    border-radius: 7px 7px 0px 0px;
  }

  .dish_title {
    padding: 7px;
    font-size: 30px;
    text-align: left;
  }

  .dish_price {
    position: absolute;
    font-size: 30px;
    padding: 7px;
    right: 0px;
    color: green;
    bottom: 0px;
    transition: all 0.2s ease-in-out;
    z-index: 7;
    color: #00A388;
  }

  .dish_price_active {
    font-size: 25px;
    height: 30px;
    padding: 0px 5px 0px 5px;
  }

  .recipe {
    font-size: 20px;
    width: 100%;
    display: block;
    text-align: left;
    overflow: hidden;
    padding-left: 10px;
    height: 0px;
    transition: all 0.1s ease;
  }

  .description {
    color: #777;
    font-size: 17px;
    width: 100%;
    display: block;
    text-align: left;
    overflow: hidden;
    padding-left: 10px;
    height: 0px;
    transition: all 0.1s ease;
  }

  .recipe_active {
    height: 24px;
  }

  .description_active {
    height: 24px;
    margin-bottom: 5px;
  }

  .dish_add {
    font-size: 25px;
    height: 0px;
    overflow: hidden;
    z-index: 7;
    width: calc(100% - 4px);
    white-space: nowrap;
    padding-left: 5px;
  }

  .dish_add_active {
    margin-top: 5px;
    height: 30px;
    transition: all 0.2s ease-in-out;
  }

  .dish_add_active:hover {
    color: #00A388;
  }

  #loadButton {
    height: 50px;
    width: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }

  #enableLoad, #disableLoad {
    width: 100%;
    height: 50px;
    transition: all 0.2s ease-out;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border: none;
  }

  #enableLoad {
    color: white;
    background-color: #00A388;
    cursor: pointer;
  }

  #disableLoad {
    background-color: #e8e8d8;
    color: black;
  }

  #enableLoad:hover {
    background-color: #FF6138;
  }

  #disableLoad:hover {
    background-color: #d8d8d0;
  }


  @media (max-width: 1440px; min-width: 1081px) {
    .dish { width: 25%; padding-bottom: calc(23% + 65px);}
    .main_block { width: 23%; }
  }

  @media (max-width: 1080px) {
    .dish { width: 33.3%; padding-bottom: calc(31.3% + 65px); }
    .main_block { width: 31.3%; }
  }

}
