
<div id="main">
	<img id="next" (click)="sliderNext()" src="/assets/next.png">
	<img id="prev" (click)="sliderPrev()" src="/assets/next.png">
	<div id="slider">
		<div class="slide">
			<img src="/assets/slide_1.png">
			<p>Сперва вам нужно авторизоваться или зарегестрироваться</p>
		</div>
		<div class="slide">
			<img src="/assets/slide_2.png">
			<p>Зайдите во вкладку "Меню" и выбирите блюдо, которое хотите заказать. Чтобы заказать блюда, откройте корзину</p>
		</div>
		<div class="slide">
			<img src="/assets/slide_3.png">
			<p>В корзине вы можете увеличивать или уменьшать количество уже выбранных блюд. Чтобы оформить заказ, нажмите на кнопку "Заказать!"</p>
		</div>
		<div class="slide">
			<img src="/assets/slide_4.png">
			<p>Чтобы завершить оформление заказа, укажите на карте, куда его доставить и нажмите кнопку "Заказать!"</p>
		</div>
		<div class="slide">
			<img src="/assets/slide_5.png">
			<p>После того, как водитель примет ваш заказ, вы сможете посмотреть, где находиться машина. Просто перейдите во вкладку "Ваш логин" -> "Профиль"</p>
	</div>
</div>
