@media all and (orientation: landscape) {

  * {
    font-family: "MainFont";
  }

  #main {
    position: absolute;
    top: 60px;
    left: 0px;
    height: calc(100% - 60px);
    width: 100%;
    overflow: hidden;
  }

  #slider {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .slide {
    display: inline-block;
    width: 100vw;
    height: 100%;
  }

  .slide img {
    margin-top: 20px;
    max-width: 85vw;
    width: auto;
    max-height: calc(100% - 150px);
    height: auto;
    margin-left: 50vw;
    transform: translateX(-50%);
  }

  .slide p {
    width: 60%;
    margin-left: 20vw;
    text-align: center;
    font-size: 25px;
  }


  #next, #prev {
    position: absolute;
    width: 100px;
    top: calc(50% - 50px);
    cursor: pointer;
    z-index: 1;
  }

  #next {
    right: 0px;
  }

  #prev {
    left: 0px;
    transform: rotate(180deg);
  }

}
