@media all and (orientation: landscape) {



  #alerts {
    position: fixed;
    width: 300px;
    height: 0px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  .cross {
    position: absolute;
    right: 0px;
    width: 30px;
    cursor: pointer;
    transform: translateY(-10px);
  }

  .alert {
    width: 260px;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "MainFont";
  }

  .strong {
    font-family: "HeaderFont" !important;
    font-size: 20px !important;
  }

  .Error {
    background-color: #eb2807;
  }

  .Success {
    background-color: #04ca28;
  }

  .Info {
    background-color: #d06d05;
  }



}
