<div id="basket_button" (click)="triggerBasket()">
  <div id="stick_1" class="stick"></div>
  <div id="stick_2" class="stick"></div>
</div>
<div id="basket">
  <div id="order">
    <div *ngFor="let dish of basket; let id = index" id="dish_{{id}}" class="dish">
      <p>{{dish.title}} {{dish.count}}
        <a (click)="removeOne(dish.title)"> LESS </a>
        <a (click)="addOne(dish.title, dish.price)"> MORE </a>
        price: {{dish.price}} * {{dish.count}}
        <a (click)="removeDish(dish.title)"> X </a></p><br>
    </div>
  </div>
  <div id="order_button" (click)="makeOrder()">Make Order!</div>
</div>
