@media all and (orientation: landscape) {

  #basket_button {
    width: 30px;
    height: 60px;
    border-radius: 30px 0px 0px 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 1px 1px;
    background-color: green;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 6;
    transition: all 0.2s ease-out;
  }

  #basket_button:hover {
    width: 40px;
  }

  .stick {
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  #stick_1 {
    transform: rotate3d(0, 0, 1, 45deg);
    top: calc(50% + 8px);
    left: calc(50% - 10px);
  }

  #stick_2 {
    transform: rotate3d(0, 0, 1, -45deg);
    top: calc(50% - 8px);
    left: calc(50% - 10px);
  }



  #basket {
    height: 80%;
    width: 0px;
    position: fixed;
    top: 10%;
    right: 0px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0;
    z-index: 5;
    transition: width 0.2s ease-out;
    overflow: scroll;
  }

  #order {
    height: calc(100% - 50px);
    width: 100%;
  }

  #order_button {
    height: 50px;
    width: 100%;
    color: white;
    background-color: green;
    text-align: center;
    font-size: 40px;
  }

  .dish {
    width: 100%;
    border-bottom: 1px solid black;
    height: 40px;
    transition: all 0.3s ease-in-out;
    background-color: grey;
    white-space: nowrap;
  }

}
