<div id="basket_button" (click)="triggerBasket()" *ngIf="user.loggedIn">
  <div id="stick_1" class="stick"></div>
  <div id="stick_2" class="stick"></div>
  <p>Basket</p>
</div>
<div id="basket" *ngIf="user.loggedIn">
  <div id="order">
    <div *ngFor="let dish of basket; let id = index" id="dish_{{id}}" class="dish">
      <p>{{dish.title}} {{dish.count}}
        <a (click)="removeOne(dish.title)"> LESS </a>
        <a (click)="addOne(dish.title, dish.price)"> MORE </a>
        price: {{dish.price}} * {{dish.count}}
        <a (click)="removeDish(dish.title)"> X </a></p><br>
    </div>
  </div>
  <div id="order_button" (click)="showLastStep()">Make Order!</div>

</div>

<div id="last_step" *ngIf="user.loggedIn">
  <p>Where do u live?</p>
  <div id="cross" (click)="closeLastStep()">
    <div id="cross_1"></div>
    <div id="cross_2"></div>
  </div>
  <div id="map">
    <div *ngFor="let y of mapSizeY" class="line">
      <div *ngFor="let x of mapSizeX" class="button" (click)="setCoordinates(x, y)" id="button_{{x}}_{{y}}"></div>
    </div>
  </div>
  <button id="button_submit" (click)="makeOrder()">Make Order!</button>
</div>
<div id="last_step_background" *ngIf="user.loggedIn" (click)="closeLastStep()"></div>
