<br>
<br>
<br>
<br>
<br>


<div *ngIf = "canPass == true" id="container">
	<div id="products">
		<div id="product_add">
			<form (ngSubmit) = "addProduct (this.name, this.amount, this.hours, this.minutes, this.seconds)">
				<input type = "text" placeholder="Название продукта: " name = "name" [(ngModel)] = "name" autocomplete="off">
				<input type = "number" placeholder="Кол-во продукта: " name = "amount" [(ngModel)] = "amount" autocomplete="off">
				<p>Срок годности продукта: </p>
				<input type = "number" placeholder="ЧЧ:" name = "hours" [(ngModel)] = "hours" autocomplete="off">
				<input type = "number" placeholder="ММ:" name = "minutes" [(ngModel)] = "minutes" autocomplete="off">
				<input type = "number" placeholder="CC:" name = "seconds" [(ngModel)] = "seconds" autocomplete="off">
				<button>Добавить продукт на склад</button>
			</form>
		</div>

		<div id="products_show">
			<div id="product" *ngFor = "let product of products">
					<p>ПРОДУКТ: </p>
					<p id="name">Название: {{product.name}}</p>
					<p>Кол-во: {{product.value}}</p>
					<p>Срок годности: {{product.expire}}</p>
			</div>
		</div>
	</div>

	<div id="users">
		<div id="user" *ngFor = "let user of users; let i = index">
			<p id = "id">ID: {{user._id}}</p>
			<p>ROLE: {{user.role}} <span (click) = "changeRole (user._id, 1, i)">Set as driver</span> <span (click) = "changeRole (user._id, 2, i)">Set as admin</span> <span (click) = "changeRole (user._id, 0, i)">Set as user</span></p>
		</div>
	</div>
</div>

<div *ngIf = "canPass == true" id="container">
		<div id="addInMenu">
		
		<div id="writeDish">
			<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
		
			<button for = "photo" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      			Загрузить картинку
			</button>
		</div>
		<p>Adding Menu</p>
		<form (ngSubmit) = "addInMenu (title, desc, price)">
			<input type="text" name="title" placeholder="Title:" [(ngModel)] = "title">
			<input type="text" name="desc" placeholder="Description:" [(ngModel)] = "desc">
			<input type="text" name="price" placeholder="Price: " [(ngModel)] = "price">
			
			<div *ngFor = "let input of inputs; let i = index">
				<p>Component: </p>
				<input type = "text" name = "{{i}}" [(ngModel)] = "input.name" placeholder="Product title">
				<input type = "number" name = "{{i}}_number" [(ngModel)] = "input.value" placeholder="value:">
			</div>

			<input type="button" (click) = "AddComponent ()" value ="Добавить ингридиент">
			<input type="submit" value ="Добавить блюдо">
		</form>
	</div>

	<div id="users">
		<div id="user" *ngFor = "let dish of menu; let i = index">
			<p id = "id">Название: {{dish.title}}</p>
			<button (click) = "removeDish (i)">Удалить блюдо</button>
			<p *ngFor = "let element of dish.recipe">
				&#9679; {{element.name}}: {{element.value}}p
			</p>
		</div>
	</div>
</div>
