@media all and (orientation: landscape) {



  * {
    font-family: "MainFont";
  }

  #p_profile {
    width: 229px;
    font-size: 38px;
    text-align: center;
  }

  .title {
    margin: calc(50vh - 310px) 0px 35px 0px;
    width: 229px;
    font-size: 30px;
    text-align: center;
  }

  .text {
    width: 229px;
    font-size: 27px;
    text-align: left;
  }

  button {
    width: 229px;
    height: auto;
    border: none;
    background-color: #00A388;
    text-align: center;
    font-size: 25px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    margin-bottom: 50px;
    margin-right: calc(100vh - 249px);
  }

  button:hover {
    background-color: #FF6138;
    color: #fff;
  }

  #map_p {
    position: absolute;
    width: calc(100vh - 249px);
    top: 0px;
    right: 0px;
    font-size: 38px;
    text-align: center;
  }

  .map {
    height: calc(100% - 49px);
    width: calc(100vh - 249px);
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-image: url("/../../assets/map.png");
    background-size: cover;
  }

  .line {
    width: 100%;
    height: 3.125%;
  }

  .button {
    width: 3.125%;
    height: 100%;
    float: left;
    transition: all 0.05s ease-in-out;
  }

  .button_active {
    width: calc(3.125% - 2px);
    height: calc(100% - 2px);
    border: 1px solid red;
    background-color: rgba(0, 0, 0, 0.2);
  }

  #not_have_order {
    font-size: 30px;
    width: 100%;
    height: 0px;
    padding: calc(50% - 18px) 0px calc(50% + 18px) 0px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
  }

  #div_change_name, #div_change_pass {
    min-width: 300px;
    max-width: 400px;
    height: auto;
    background-color: white;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: none;
    border: 1px solid #00846e;
    z-index: 3;
  }

  #div_change_name p, #div_change_pass p {
    width: 100%;
    height: 40px;
    font-size: 30px;
    margin-top: 120px;
    text-align: center;
    font-family: "HeaderFont";
  }

  .logo {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    padding: 10px calc(50% - 50px) 10px calc(50% - 50px);
    transform: translate(-50%, 0px);
  }

  .cross {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .cross_0, .cross_1 {
    position: absolute;
    top: 12px;
    width: 25px;
    height: 2px;
    background-color: black;
  }

  .cross_0 { transform: rotate(45deg); }
  .cross_1 { transform: rotate(-45deg); }

  .form_input {
    font-size: 20px;
    width: calc(100% - 100px);
    margin: 25px 45px 10px 45px;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid grey;
    background-color: white;
    outline: none;
    font-family: "FormFont";
    font-weight: 500;
  }

  .form_input:focus {
    border-color: black;
  }

  #name_input_login, #pass_input_old_pass {
    margin-top: 10px;
  }

  .form_submit {
    width: 100%;
    font-size: 25px;
    padding: 10px 0 10px 0;
    border-width: 0px;
    color: #F0F0DF;
    background-color: #00A388;
    transition: all 0.1s ease;
    cursor: pointer;
    margin: 0px;
  }

  .background {
    position: fixed;
    top: calc(50% - 50vh);
    left: calc(50% - 50vw);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 1;
  }



}
