<div id="background_change_name" class="background" (click)="closeForm('change_name')"></div>
<div id="background_change_pass" class="background" (click)="closeForm('change_pass')"></div>


<div>

<p id="p_profile">PROFILE</p>

<div *ngIf="user.role == 0" class="title">USER INFO</div>
<div *ngIf="user.role == 1" class="title">DRIVER INFO</div>
<div *ngIf="user.role == 2" class="title">ADMIN INFO</div>
<div class="text">Name: {{user.name}}</div>
<div class="text">Surname: {{user.surname}}</div>
<button (click)="openForm('change_name')">Change name/surname</button>
<div class="text">Login: {{user.login}}</div>
<button (click)="openForm('change_pass')">Change password</button>


<div id="div_change_name">
  <img src="../assets/logo.png" class="logo">
  <p>Настройки</p>
  <form id="form_change_name" (ngSubmit)="changeName(formName, formSurname, password)">
    <input type="text" id="name_input_name" class="form_input" name="name"
      placeholder="Name" value="{{user.name}}" [(ngModel)]="formName"><br>
    <input type="text" id="name_input_surname" class="form_input" name="formSurname"
      placeholder="Surname" value="{{user.surname}}" [(ngModel)]="formSurname"><br>
    <input type="password" id="name_input_password" class="form_input" name="password"
      placeholder="Password" value="" [(ngModel)]="password">
    <button type="submit" id="name_button_submit" class="form_submit" name="submit">Change</button>
  </form>
  <div class="cross" (click)="closeForm('change_name')">
    <div class="cross_0"></div>
    <div class="cross_1"></div>
  </div>
</div>

<div id="div_change_pass">
  <img src="../assets/logo.png" class="logo">
  <p>Настройки</p>
  <form id="form_change_pass" (ngSubmit)="changePass()">
    <input type="password" id="pass_input_old_pass" class="form_input" name="oldPass" placeholder="Old Password"value=""><br>
    <input type="password" id="pass_input_new_pass" class="form_input" name="newPass" placeholder="New Password" value=""><br>
    <input type="password" id="name_input_repeat" class="form_input" name="repeat" placeholder="Repeat Password" value="">
    <button type="submit" id="pass_button_submit" class="form_submit" name="submit">Change</button>
  </form>
  <div class="cross" (click)="closeForm('change_pass')">
    <div class="cross_0"></div>
    <div class="cross_1"></div>
  </div>
</div>



<p id="map_p">Your Order</p>
<div class="map" *ngIf="haveOrder">
  <div *ngFor="let y of mapSizeY" class="line">
    <div *ngFor="let x of mapSizeX" class="button" (click)="setCoordinates(y, x)" id="button_{{y}}_{{x}}"></div>
  </div>
</div>
<div class="map" *ngIf="!haveOrder">
  <p id="not_have_order">
    You don't have any order!
  </p>
</div>

</div>
